{% extends "base.html" %}
{% load static %}

{%block head %}
<script type="text/javascript" src="{% static 'ipl/main.js' %}"></script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <button type="button" onclick="PlotFirst()" class="btn btn-primary">Matches Per Season</button>
                <button type="button" onclick="PlotSecond()"class="btn btn-secondary">Matches Won by Teams</button>
                <button type="button" onclick="PlotThird()" class="btn btn-success">Extra Runs Conceded</button>
                <button type="button" onclick="PlotFourth()" class="btn btn-danger">Most Economical Bowlers</button>
                <button type="button" onclick="PlotFifth()" class="btn btn-warning">Economies at Death Overs</button>
        </div>
    </div>
</div>

  

  <div id="container" style="width:100%; height:400px;"></div>
  <div id="container-1" style="width:100%; height:400px;"></div>
{% endblock %}