{% extends "base.html" %}
{% load static %}

{%block head %}
<script type="text/javascript" src="{% static 'ipl/main.js' %}"></script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-10">
                <button type="button" onclick="PlotFirst()" class="btn btn-primary">First</button>
                <button type="button" onclick="PlotSecond()"class="btn btn-secondary">Second</button>
                <button type="button" onclick="PlotThird()" class="btn btn-success">Third</button>
                <button type="button" onclick="PlotFourth()" class="btn btn-danger">Fourth</button>
                <button type="button" onclick="PlotFifth()" class="btn btn-warning">Fifth</button>
        </div>
    </div>
</div>

  

  <div id="container" style="width:80%; height:400px;"></div>
  <div id="container-1" style="width:80%; height:400px;"></div>
{% endblock %}